footer.footer
  .container
    .row
      .col-12.col-lg-3
        .footer__logo
          a(href='/')
            <svg width="185" height="37" viewBox="0 0 185 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.4782 19.6172H7.09521V34.0002H21.4782V19.6172Z" fill="#00365F"/>
            <path d="M32.5829 20.5059H23.7246V24.8114H32.5829V20.5059Z" fill="#87E873"/>
            <path d="M37.9206 22.7196L35.8423 20.4009L33.5235 22.4792L35.6018 24.798L37.9206 22.7196Z" fill="#87E873"/>
            <path d="M40.2494 14.542H23.5488V18.1885H40.2494V14.542Z" fill="#87E873"/>
            <path d="M37.9374 27.124H23.7246V33.9998H37.9374V27.124Z" fill="#00365F"/>
            <path d="M21.4454 0V13.4439H2.31201" fill="#87E873"/>
            <path d="M39.0137 12.2302H23.5488V2.29004" fill="#87E873"/>
            <path d="M21.4838 15.6406H10.0005V17.6836H21.4838V15.6406Z" fill="#00365F"/>
            <path d="M7.68302 15.6406H0V17.6836H7.68302V15.6406Z" fill="#00365F"/>
            <path d="M31.0068 4.38219L32.9894 5.66727V1.14753L31.0068 0.922363" fill="#00365F"/>
            <path d="M4.62939 34.0002L4.62939 19.6172H2.31186L2.31186 34.0002H4.62939Z" fill="#87E873"/>
            <path d="M63.0227 23.32L63.5267 22.6H71.7347C71.7347 21.288 71.5907 20.128 71.3027 19.12C71.0147 18.112 70.5747 17.264 69.9827 16.576C69.3907 15.872 68.6387 15.344 67.7267 14.992C66.8307 14.624 65.7587 14.44 64.5107 14.44C62.9427 14.44 61.6467 14.736 60.6227 15.328C59.6147 15.904 58.8307 16.728 58.2707 17.8H55.0547C55.5667 17.048 56.1907 16.416 56.9267 15.904C57.6787 15.376 58.4707 14.952 59.3027 14.632C60.1507 14.312 61.0227 14.08 61.9187 13.936C62.8147 13.792 63.6787 13.72 64.5107 13.72C65.2787 13.72 66.0787 13.776 66.9107 13.888C67.7427 14 68.5587 14.192 69.3587 14.464C70.1587 14.736 70.9187 15.096 71.6387 15.544C72.3587 15.976 72.9907 16.52 73.5347 17.176C74.0787 17.832 74.5107 18.616 74.8307 19.528C75.1507 20.424 75.3107 21.456 75.3107 22.624C75.3107 23.792 75.1507 24.824 74.8307 25.72C74.5107 26.6 74.0787 27.368 73.5347 28.024C72.9907 28.68 72.3587 29.232 71.6387 29.68C70.9187 30.128 70.1587 30.488 69.3587 30.76C68.5587 31.016 67.7427 31.2 66.9107 31.312C66.0787 31.424 65.2787 31.48 64.5107 31.48C63.6947 31.48 62.8467 31.408 61.9667 31.264C61.0867 31.12 60.2227 30.896 59.3747 30.592C58.5427 30.272 57.7587 29.856 57.0227 29.344C56.2867 28.832 55.6547 28.208 55.1267 27.472H58.2947C58.8547 28.528 59.6387 29.344 60.6467 29.92C61.6707 30.496 62.9587 30.776 64.5107 30.76C66.9107 30.744 68.6947 30.104 69.8627 28.84C71.0307 27.576 71.6547 25.736 71.7347 23.32H63.0227ZM79.65 31V14.2H83.25V31H79.65ZM91.962 31L86.082 22.6H90.21L96.09 31H91.962ZM90.33 14.2H91.242L85.362 22.6H84.45L90.33 14.2ZM97.5187 22.624C97.5187 21.456 97.6787 20.424 97.9987 19.528C98.3187 18.616 98.7507 17.832 99.2947 17.176C99.8387 16.52 100.471 15.976 101.191 15.544C101.911 15.096 102.671 14.736 103.471 14.464C104.271 14.192 105.087 14 105.919 13.888C106.751 13.776 107.551 13.72 108.319 13.72C109.087 13.72 109.887 13.776 110.719 13.888C111.551 14 112.367 14.192 113.167 14.464C113.967 14.72 114.727 15.072 115.447 15.52C116.167 15.968 116.799 16.52 117.343 17.176C117.887 17.832 118.319 18.608 118.639 19.504C118.959 20.384 119.119 21.408 119.119 22.576C119.119 23.744 118.959 24.784 118.639 25.696C118.319 26.592 117.887 27.368 117.343 28.024C116.799 28.68 116.167 29.232 115.447 29.68C114.727 30.112 113.967 30.464 113.167 30.736C112.367 31.008 111.551 31.2 110.719 31.312C109.887 31.424 109.087 31.48 108.319 31.48C107.551 31.48 106.751 31.424 105.919 31.312C105.087 31.2 104.271 31.016 103.471 30.76C102.671 30.488 101.911 30.128 101.191 29.68C100.471 29.232 99.8387 28.68 99.2947 28.024C98.7507 27.368 98.3187 26.6 97.9987 25.72C97.6787 24.824 97.5187 23.792 97.5187 22.624ZM101.095 22.6C101.079 25.224 101.655 27.24 102.823 28.648C103.991 30.04 105.823 30.744 108.319 30.76C109.567 30.76 110.647 30.576 111.559 30.208C112.471 29.824 113.215 29.28 113.791 28.576C114.383 27.856 114.823 26.992 115.111 25.984C115.399 24.96 115.543 23.824 115.543 22.576C115.543 21.328 115.399 20.208 115.111 19.216C114.823 18.208 114.383 17.352 113.791 16.648C113.215 15.928 112.471 15.384 111.559 15.016C110.647 14.632 109.567 14.44 108.319 14.44C107.071 14.44 105.991 14.624 105.079 14.992C104.183 15.344 103.439 15.872 102.847 16.576C102.255 17.264 101.815 18.112 101.527 19.12C101.239 20.128 101.095 21.288 101.095 22.6Z" fill="#87E873"/>
            <path d="M134.68 31V14.2H138.28V31H134.68ZM122.416 31H121.528L133.312 14.2H134.2L122.416 31ZM158.725 31V14.2H162.325V31H158.725ZM144.037 31V14.2H147.637V29.32L157.093 15.88H158.005L147.373 31H144.037ZM177.266 14.92V31H173.666V14.92H165.914V14.2H184.946V14.92H177.266Z" fill="#00365F"/>
            </svg>
      .d-none.d-lg-block.col-lg-6.offset-lg-3
        ul.footer__menu.d-flex.justify-content-between.align-items-center
          li
            a(href='#') Главная
          li
            a(href='#') Продукция
          li
            a(href='#') Партнерство
          li
            a(href='#') Контакты
